@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
}
#cabecalho{
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
#cabecalho-container{
    align-items: center;
    display: flex;
    gap: 50px;
}
#menu{
    display: flex;
    gap: 30px;
}
#menu a{
    color: #012E40;
    font-size: 20px;
}
#cabecalho #logo{
    height: 55px;
    margin-left: 20px;
}
#cabecalho #login{
    margin-right: 20px;
}
#main #background{
    width: 101%;
}
#main-titulo-container{
    position: absolute;
    top: 20%;
    left: 5%;
}
#main-titulo{
    color: #012E40;
    font-weight: 300;
    font-size: 16vh;
}
#main-subtitulo{
    margin-top: 10px;
    border-bottom: 1px solid #012E40;
    border-top: 1px solid #012E40;
    padding: 30px 0;
    color: #F2E3D5;
    font-size: 8vh;
}
.selecionar-pais{
    background-color: #012E40;
    display: flex;
    width: 180px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 0 auto 30px;
}
.selecionar-pais p{
    color: #F2E3D5;
}
.selecionar-pais button{
    background: none;
    border: none;
    margin: 0 60px;
    outline: none;
    cursor: pointer;
}
.fas, .far, .fa{
    color: #F2E3D5;
}
.mapa-brasil{
    width: 600px;
    height: 603px;
}
.pacotes{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brasil{
    width: 100%;
    height: 100%;
}
#mg{
    position: relative;
    width: 167px;
    height: 131px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 302px;
    left: 354px;
    transition: all 1s ease;
}
#ma{
    position: relative;
    width: 95px;
    height: 136px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 734px;
    left: 396px;
    transition: all 1s ease;
}
#rs{
    position: relative;
    width: 117px;
    height: 99px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 234px;
    left: 252px;
    transition: all 1s ease;
}

#mg:hover{
    background-image: url("../img/mg.png");
}
#ma:hover{
    background-image: url("../img/ma.png");
}
#rs:hover{
    background-image: url("../img/rs.png");
}
.pacote-tipo{
    width: calc(100% - 700px);
}
.pacotes-titulo {
    color: #012E40;
    font-size: 36px;
}
.preco{
    color: #024959;
    font-size: 20px;
    display: inline-block;
}
.reserve{
    width: max-content;
    display: inline-block;
    margin: 10px 0 10px 5px;
    background: #012E40;
    color: #F2E3D5;
    padding: 15px 25px;
    border-radius: 6px;
}
.pacotes-descricao{
    color: #024959;
    font-size: 20px;
    margin: 20px 0;
}
.acomodacao{
    font-size: 32px;
    margin-top: 20px;
}
.estrela{
    width: 100px;
    height: 15px;
    display: block;
}
.estrela img{
    width: 15px;
    height: 15px;
}
.alinhar-acomodacao{
    font-size: 22px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.alinhar-acomodacao p{
    padding: 10px;
    color: #F2E3D5;
    background-color: #012E40;
    font-size: 18px;
    border-radius: 6px;
}
.alinhar-acomodacao .fas, .far{
    margin-right: 5px;
}
.container-imagens{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.pacote-imagem{
    width: 200px;
    height: 140px;
}
.pacote-imagem img{
    position: absolute;
    width: 200px;
    height: 140px;
}
.imagem-titulo{
    position: relative;
    width: 200px;
    text-align: center;
    background-color: #012E40;
    color: #F2E3D5;
    padding: 10px 0;
    top: 100px;
    transition: all 1s ease-in;
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: all .2s ease;
}
.pacote-imagem img:hover + .imagem-titulo{
    transform: rotateX(0);
}
.pacote-imagem .imagem-titulo:hover{
    transform: rotateX(0);
}
.gramado{
    display: none;
}
.capitolio{
    display: none;
}
.barreirinhas{
    display: none;
}
.promocoes{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
    height: 1000px;
}
.promocoes h1{
    font-size: 48px;
    color: #012E40;
    margin-bottom: 20px;
}
.promocoes h2{
    font-size: 32px;
    color: #012E40;
    margin-bottom: 10px;
}
.promocoes p{
    font-size:20px;
    color: #024959;
}
.promocoes .pacotes-descricao{
    color: #F2E3D5;
}
.promocoes-esquerda{
    width: 50%;
    margin-left: 50px ;
}
.promocoes img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: top left;
    margin-top: 50px;
}
.promocoes-direita{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.promocoes-direita .promocoes-incluso{
    font-size: 42px;
    margin: 0  auto 50px;
}
.promocoes .alinhar-acomodacao p{
    font-size: 14px;
}
.promocoes .estrela img{
    margin: 0;
    width: 15px;
    height: 15px;
}
.promocoes .estrela{
    margin: 0;
}
.promocoes h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.voo h4{
    display: inline;
}
.voo p{
    display: inline;
    font-size: 20px;
    color: #024959;
}
.voo span{
    background-color: #012E40;
    color: #F2E3D5;
    padding: 3px 5px;
    border-radius: 4px;
}
.voo .volta{
    margin-bottom: 50px;
    display: inline;
    width: auto;
}
.nome-hotel{
    font-size: 42px !important;
    margin: 0 !important;
}
.imagem-hotel{
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.imagem-hotel img{
    width: 160px;
    height: 120px;
    margin-top: 20px;
}


