@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 700px) {
    .cabecalho{
        flex-direction: column-reverse;
        align-items: flex-end !important;
        margin-top: 150px;
    }
    #logo{
        display: none;
    }
    #menu{
        margin-right: 20px;
        align-items: flex-end;
        flex-direction: column;
        gap: 10px !important;
    }
    .mapa-brasil{
        display: none;
    }
    .pacote-tipo{
        width: 80%;
    }
    
}

@media (max-width: 1200px){
    .sobre{
        margin-top: 100px !important;
        flex-direction: column !important;
    }
    .sobre-template{
        align-items: flex-start !important;
    }    
    .sobre-imagem{
        flex-direction: row !important;
    }
    .sobre-container-titulo{
        display: none !important;
    }
    .sobre-tablet{
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        width: 95% !important;
        background-color: #012E40;
    }
    .sobre-tablet .sobre-imagem{
        margin-left: 20px;
        display: flex;
        align-items: center;
    }    
    .sobre-tablet img{
        width: 40px !important;
        height: 40px !important;
    }
}

@media (max-width: 1300px){ 
    .promocoes{
        margin-top: 0;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: start !important;
    }
    .promocoes-cartao{
        position: relative;
        width: 400px !important;
        height: 100% !important;
    }
    .promocoes-cartao .imagem-apresentacao{
        width: 400px !important;
        object-fit: cover;
        height: 200px;
    }
    .promocoes-cartao img{
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
    .promocoes .estrela{
        margin-left: 10px;
        width: 100px;
        height: 15px;
        display: block;
    }
    .promocoes .estrela img{
        width: 15px;
        height: 15px;
    }
    .brasil{
        display: none;
    }
    .brasil-pqn{
        margin-left: 20px;
        display: block !important;
    }
    .imagem-titulo{
        display: none;
    }
    .alinhar-acomodacao .pacotes-descricao{
        font-size: 12px !important;
    }
    #mg{
        width: 97px !important;
        height: 77px !important;
        background-color: rgba(0, 0, 0, .0);
        bottom: 174px !important;
        left: 226px !important;
    }
    #ma{
        width: 55px !important;
        height: 79px !important;
        background-color: rgba(0, 0, 0, .0);
        bottom: 424px !important;
        left: 251px !important;
    }
    #rs{
        width: 69px !important;
        height: 56px !important;
        background-color: rgba(0, 0, 0, .0);
        bottom: 134px !important;
        left: 168px !important;
    }
    
    #mg:hover{
        background-size: cover !important;
        animation-name: fadeMg;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
    }
    #ma:hover{
        background-size: cover !important;
        animation-name: fadeMaPqn;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
    }
    #rs:hover{
        background-size: cover !important;
        animation-name: fadeRsPqn;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
    }
}
@keyframes abrirMenu{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 100%;
    }
}
@keyframes fecharMenu{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
    }
}
@keyframes mudarBotao{
    from{
        transform: rotateZ(0);
        opacity: 100%;
        background-image: url("../img/open-menu.svg");
    }
    from{
        transform: rotateZ(90deg);
        opacity: 0;
        background-image: url("../img/close-menu.svg");
    }
}
@media(max-width: 450px){
    #main{
        height: 45vh !important;
        display: block !important;
    }
    #main #background{
        width: 100%;
        background-size: cover;
        height: 100% !important;
    }
    .cabecalho{
        height: 45vh !important;
        top: 0px;
        left: 0px;
        background-color: #012E40 !important;
        margin: 0px !important;
        z-index: 1000;
        align-items: center !important;
        animation: fecharMenu 400ms ease forwards;
    }
    #cabecalho-container{
        width: 100% !important;
    }
    #menu{
        width: 100% !important;
        align-items: center !important;
        flex-direction: column;
        gap: 10px !important;
        margin: 0 !important;
    }
    #login-claro{

        display: block !important;
        width: 50px !important;
        margin: 5px 0 !important;
    }
    #login-claro img{
        width: 100%;
    }
    #login{
        display: none;
    }
    .menu-item{
        text-align: center;
        padding-bottom: 10px;
        width: 100% !important;
        display: block !important;
        color: #F2E3D5 !important;
        border-bottom: #F2E3D5 solid 1px;
    }
    #main-titulo{
        margin-top: 30px !important;
    }
    .logo-mobile{
        display: block !important;
        margin: 5px 10px;
        position: absolute;
        width: 40px;
    }
    .logo-mobile img{
        width: 100%;
    }
    .logo-mobile-oculto{
        display: none !important;
    }
    .mostrandoCabecalho{
        animation: abrirMenu 400ms forwards;
    }
    .abrir-menu{
        right: 0;
        margin: 0 15px ;
        position: absolute;
        background-image: url("../img/open-menu.svg");
        width: 20px;
        height: 20px;
        z-index: 10000;
    }
    .fechar-botao{
        width: 20px;
        height: 20px;
        animation: mudarBotao 1s ease;
        background-image: url("../img/close-menu.svg");
    }

    .promocoes{
        margin-top: 0;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: start !important;
    }
    .promocoes-cartao{
        margin: 10px;
        bottom: 50px;
        position: relative;
        width: 95vw !important;
        height: 95vh !important;
    }
    .promocoes-cartao .imagem-apresentacao{
        width: 95vw !important;
        object-fit: cover;
        height: 160px;
    }
    .promocoes-cartao img{
        width: 100%;
        object-fit: cover;
        object-position: top;
        height: 160px;
    }
    .promocoes .estrela{
        margin-left: 10px;
        width: 100px;
        height: 15px;
        display: block;
    }
    .promocoes .estrela img{
        width: 15px;
        height: 15px;
    }
    .topo-cartao h2{
        position: relative;
        top: 40px;
        text-align: center;
        background-color: #012E40 !important;
        border-radius: 6px 6px 0 0 ;
        color: #F2E3D5;
        padding: 10px 0;
    }
    .rodape-cartao a{
        margin: 0;
        text-align: center;
        display: block;
        width: 100%;
        height: 35px !important;
        background-color: #012E40;
        border-radius: 0 0 6px 6px ;
        color: #F2E3D5;
        padding: 10px 0 5px 0;
    }
    .promocoes-cartao .desconto{
        position: absolute;
        width: 60px;
        height: 60px;
        margin-left: 290px !important;
        margin-top: 180px !important;
    }
    .sobre-logo{
        display: none !important;
    }
    .container-imagens{
        width: 95vw !important;
        gap: 20px;
        margin-top: 20px;
        justify-content: left !important;
        flex-wrap: wrap;
    }
    .pacote-imagem{
        position: static !important;
        width: 95vw !important;
        height: 55vw !important;
    }
    .pacote-imagem img{
        position: static !important;
        width: 100%;
        height: 100%;
    }
}
.cabecalho{
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
#cabecalho-container{
    align-items: center;
    display: flex;
    gap: 50px;
}
#menu{
    display: flex;
    gap: 30px;
}
#menu a{
    color: #012E40;
    font-size: 20px;
}
.cabecalho #logo{
    height: 55px;
    margin-left: 20px;
}
.logo-mobile{
    display: none;
}
.cabecalho #login{
    margin-right: 20px;
}
.cabecalho #login-claro{
    display: none;
    margin-right: 20px;
}
#main #background{
    width: 101%;
}
#main-titulo-container{
    position: absolute;
    top: 10vw;
    left: 5%;
}
#main-titulo{
    color: #012E40;
    font-weight: 300;
    font-size: 8vw;
}
#main-subtitulo{
    margin-top: 10px;
    border-bottom: 1px solid #012E40;
    border-top: 1px solid #012E40;
    padding: 2vw 0;
    color: #F2E3D5;
    font-size: 4vw;
}

.selecionar-pais{
    background-color: #012E40;
    display: flex;
    width: 180px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 0 auto 30px;
}
.selecionar-pais p{
    color: #F2E3D5;
}
.selecionar-pais button{
    background: none;
    border: none;
    margin: 0 60px;
    outline: none;
    cursor: pointer;
}
.fas, .far, .fa{
    color: #F2E3D5;
}
.mapa-brasil{
    width: 600px;
    height: 603px;
}
.pacotes{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brasil-pqn{
    display: none;
}
.brasil{
    width: 600px;
    height: 603px;
}
#mg{
    position: relative;
    width: 167px;
    height: 131px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 302px;
    left: 354px;
    transition: all 1s ease;
}
#ma{
    position: relative;
    width: 95px;
    height: 136px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 734px;
    left: 396px;
    transition: all 1s ease;
}
#rs{
    position: relative;
    width: 117px;
    height: 99px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 234px;
    left: 252px;
}
@keyframes fadeMg {
    from {
        background-image: url("../img/mg.png");
        opacity: 0;
    }
    to {
        opacity: 100%;
        background-image: url("../img/mg.png");
    }
}
@keyframes fadeRs {
    from {
        background-image: url("../img/rs.png");
        opacity: 0;
    }
    to {
        opacity: 100%;
        background-image: url("../img/rs.png");
    }
}
@keyframes fadeMa {
    from {
        background-image: url("../img/ma.png");
        opacity: 0;
    }
    to {
        opacity: 100%;
        background-image: url("../img/ma.png");
    }
}
#mg:hover{
    animation-name: fadeMg;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
#ma:hover{
    animation-name: fadeMa;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
#rs:hover{
    animation-name: fadeRs;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.pacote-tipo{
    width: max-content;
    padding: 0 30px ;
}
.pacotes-titulo {
    color: #012E40;
    font-size: 36px;
}
.preco{
    color: #024959;
    font-size: 20px;
    display: inline-block;
}
.reserve{
    width: max-content;
    display: inline-block;
    margin: 10px 0 10px 5px;
    background: #012E40;
    color: #F2E3D5;
    padding: 15px 25px;
    border-radius: 6px;
}
.pacotes-descricao{
    color: #024959;
    font-size: 20px;
    margin: 20px 0;
}
.acomodacao{
    font-size: 32px;
    margin-top: 20px;
}
.estrela{
    width: 100px;
    height: 15px;
    display: block;
}
.estrela img{
    width: 15px;
    height: 15px;
}
.alinhar-acomodacao{
    font-size: 22px;
    display: flex;
    gap: 20px;
}
.alinhar-acomodacao p{
    padding: 10px;
    color: #F2E3D5;
    background-color: #012E40;
    font-size: 18px;
    border-radius: 6px;
}
.alinhar-acomodacao .fas, .far{
    margin-right: 5px;
}
.container-imagens{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.pacote-imagem{
    position: relative;
    width: 33%;
    height: 11vw;
}
.pacote-imagem img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imagem-titulo{
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #012E40;
    color: #F2E3D5;
    padding: 10px 0;
    top: 100px;
    transition: all 1s ease-in;
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: all .2s ease;
}
.pacote-imagem img:hover + .imagem-titulo{
    transform: rotateX(0);
}
.pacote-imagem .imagem-titulo:hover{
    transform: rotateX(0);
}
.gramado{
    display: none;
}
.capitolio{
    display: none;
}
.barreirinhas{
    display: none;
}

.promocoes{
    display: flex;
    justify-content: center;
    gap:  50px;
    margin-top: 100px;
    width: 100%;
    height: 97%;   
}
.promocoes-cartao{
    width: 400px;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.topo-cartao h2{
    text-align: center;
    background-color: #012E40;
    border-radius: 6px 6px 0 0 ;
    color: #F2E3D5;
    padding: 10px 0;
}
.promocoes-cartao h3{
    margin-left: 10px;
}
.rodape-cartao a{
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
    background-color: #012E40;
    border-radius: 0 0 6px 6px ;
    color: #F2E3D5;
    padding: 10px 0 5px 0;
}
.promocoes-cartao .desconto{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 320px;
    margin-top: 220px;
}
.promocoes-cartao img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.promocoes .estrela{
    margin-left: 10px;
    width: 100px;
    height: 15px;
    display: block;
}
.promocoes .estrela img{
    width: 15px;
    height: 15px;
}
.promocoes-cartao h4{
    font-size:  16px;
    margin-left: 10px;
}
.promocoes-cartao p{
    font-size: 16px;
    margin-left: 10px;
}
.ida{
    height: 30px;
    margin: 10px 0 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.volta{
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.voo-tipo{
    background-color: #012E40;
    color: #F2E3D5;
    border-radius: 6px;
    padding: 2px;
}
.nome-hotel{
    font-size: 28px;
    margin-left: 10px;
}
.promocoes-cartao .alinhar-acomodacao{
    gap: 20px;
    justify-content: center;
}
.promocoes-cartao .alinhar-acomodacao p{
    margin-left: 10px;
    font-size: 13px;
}
.imagem-hotel{
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.imagem-hotel img{
    height: 100%;
    width: 30% !important;
}
.sobre{
    margin-top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre-tablet{
    display: none;
}
.sobre-template{
    background-color: #012E40;
    width: 95%;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobre-container-titulo{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
.sobre h1{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 42px;
    color: #F2E3D5;
}
.sobre p{
    padding: 20px;
    font-size: 20px;
    color: #F2E3D5;
}
.sobre-container-titulo{
    margin-top: 150px;
}
.sobre-container-titulo p{
    margin-top: 20px;
    font-size: 16px;
    padding: 0;
}
.sobre-container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre-container .sobre-imagem{
    width: 27%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sobre-imagem img{
    width: 40%;
}
.sobre-logo{
    width: 50%;
}


