@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
}
#cabecalho{
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
#cabecalho-container{
    align-items: center;
    display: flex;
    gap: 50px;
}
#menu{
    display: flex;
    gap: 30px;
}
#menu a{
    color: #012E40;
    font-size: 20px;
}
#cabecalho #logo{
    height: 55px;
    margin-left: 20px;
}
#cabecalho #login{
    margin-right: 20px;
}
#main #background{
    width: 101%;
}
#main-titulo-container{
    position: absolute;
    top: 20%;
    left: 5%;
}
#main-titulo{
    color: #012E40;
    font-weight: 300;
    font-size: 16vh;
}
#main-subtitulo{
    margin-top: 10px;
    border-bottom: 1px solid #012E40;
    border-top: 1px solid #012E40;
    padding: 30px 0;
    color: #F2E3D5;
    font-size: 8vh;
}
.selecionar-pais{
    background-color: #012E40;
    display: flex;
    width: 180px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 0 auto 30px;
}
.selecionar-pais p{
    color: #F2E3D5;
}
.selecionar-pais button{
    background: none;
    border: none;
    margin: 0 60px;
    outline: none;
    cursor: pointer;
}
.fas, .far, .fa{
    color: #F2E3D5;
}
.mapa-brasil{
    width: 600px;
    height: 603px;
}
.pacotes{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brasil{
    width: 100%;
    height: 100%;
}
#mg{
    position: relative;
    width: 167px;
    height: 131px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 302px;
    left: 354px;
    transition: all 1s ease;
}
#ma{
    position: relative;
    width: 95px;
    height: 136px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 734px;
    left: 396px;
    transition: all 1s ease;
}
#rs{
    position: relative;
    width: 117px;
    height: 99px;
    background-color: rgba(0, 0, 0, .0);
    bottom: 234px;
    left: 252px;
    transition: all 1s ease;
}

#mg:hover{
    background-image: url("../img/mg.png");
}
#ma:hover{
    background-image: url("../img/ma.png");
}
#rs:hover{
    background-image: url("../img/rs.png");
}
.pacote-tipo{
    width: calc(100% - 700px);
}
.pacotes-titulo {
    color: #012E40;
    font-size: 36px;
}
.preco{
    color: #024959;
    font-size: 20px;
    display: inline-block;
}
.reserve{
    width: max-content;
    display: inline-block;
    margin: 10px 0 10px 5px;
    background: #012E40;
    color: #F2E3D5;
    padding: 15px 25px;
    border-radius: 6px;
}
.pacotes-descricao{
    color: #024959;
    font-size: 20px;
    margin: 20px 0;
}
.acomodacao{
    font-size: 32px;
    margin-top: 20px;
}
.estrela{
    width: 100px;
    height: 15px;
    display: block;
}
.estrela img{
    width: 15px;
    height: 15px;
}
.alinhar-acomodacao{
    font-size: 22px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.alinhar-acomodacao p{
    padding: 10px;
    color: #F2E3D5;
    background-color: #012E40;
    font-size: 18px;
    border-radius: 6px;
}
.alinhar-acomodacao .fas, .far{
    margin-right: 5px;
}
.container-imagens{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.pacote-imagem{
    width: 200px;
    height: 140px;
}
.pacote-imagem img{
    position: absolute;
    width: 200px;
    height: 140px;
}
.imagem-titulo{
    position: relative;
    width: 200px;
    text-align: center;
    background-color: #012E40;
    color: #F2E3D5;
    padding: 10px 0;
    top: 100px;
    transition: all 1s ease-in;
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: all .2s ease;
}
.pacote-imagem img:hover + .imagem-titulo{
    transform: rotateX(0);
}
.pacote-imagem .imagem-titulo:hover{
    transform: rotateX(0);
}
.gramado{
    display: none;
}
.capitolio{
    display: none;
}
.barreirinhas{
    display: none;
}
.promocoes{
    display: flex;
    justify-content: center;
    gap:  50px;
    margin-top: 100px;
    width: 100%;
    height: 94vh;   
}
.promocoes-cartao{
    width: 400px;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.topo-cartao h2{
    text-align: center;
    background-color: #012E40;
    border-radius: 6px 6px 0 0 ;
    color: #F2E3D5;
    padding: 10px 0;
}
.promocoes-cartao h3{
    margin-left: 10px;
}
.rodape-cartao a{
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
    background-color: #012E40;
    border-radius: 0 0 6px 6px ;
    color: #F2E3D5;
    padding: 10px 0 5px 0;
}
.promocoes-cartao .desconto{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 320px;
    margin-top: 160px;
}
.promocoes-cartao img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.promocoes .estrela{
    margin-left: 10px;
    width: 100px;
    height: 15px;
    display: block;
}
.promocoes .estrela img{
    width: 15px;
    height: 15px;
}
.promocoes-cartao h4{
    font-size:  16px;
    margin-left: 10px;
}
.promocoes-cartao p{
    font-size: 16px;
    margin-left: 10px;
}
.ida{
    height: 30px;
    margin: 10px 0 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.volta{
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.voo-tipo{
    background-color: #012E40;
    color: #F2E3D5;
    border-radius: 6px;
    padding: 2px;
}
.nome-hotel{
    font-size: 28px;
    margin-left: 10px;
}
.promocoes-cartao .alinhar-acomodacao{
    gap: 20px;
    justify-content: center;
}
.promocoes-cartao .alinhar-acomodacao p{
    margin-left: 10px;
    font-size: 13px;
}
.imagem-hotel{
    display: flex;
    height: 90px;
    justify-content: center;
    gap: 10px;
}
.imagem-hotel img{
    height: 100%;
    width: 30%;
}
.sobre{
    margin-top: 100px;
    background-color: #012E40;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre-template{
    background-color: #fff;
    width: 90%;
    height: 80%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobre-container-titulo{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
.sobre h1{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 42px;
    color: #012E40;
}
.sobre p{
    padding: 20px;
    font-size: 20px;
    color: #024959;
}
.sobre-container-titulo{
    margin-top: 50px;
}
.sobre-container-titulo p{
    margin-top: 20px;
    font-size: 16px;
    padding: 0;
}
.sobre-container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre-container .sobre-imagem{
    width: 27%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sobre-imagem img{
    width: 40%;
}
